{% extends 'users/registration/base.html' %}

{% block title %} Login {% endblock %}

{% block body %}
  <h2>Log In</h2>

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="formInput1" class="form-label">Email</label>
      <input type="text" class="form-control" id="formInput1" name="email">
    </div>
    <div class="mb-3">
      <label for="formInput2" class="form-label">Password</label>
      <input type="text" class="form-control" id="formInput2" name="password">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
{% endblock %}